<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="logDir" value="${basedir}"/>

  <targets>
    <!-- add your targets here -->
    <!-- target name="console" xsi:type="ColoredConsole"  layout="${date:format=HH\:mm\:ss} | ${level} | ${stacktrace}|${message}" -->
    <target name="console" xsi:type="ColoredConsole"  layout="${longdate} | ${level} | ${message}" />
    <target name="fileInfo" xsi:type="File" fileName="${logDir}/logs/${shortdate}_info.log" layout="${longdate} | ${level} | ${message}" />
    <target name="fileError" xsi:type="File" fileName="${logDir}/logs/${shortdate}_error.log" layout="${longdate} | ${level} | ${message}" />
    <target name="fileTrace" xsi:type="File" fileName="${logDir}/logs/${shortdate}_trace.log" layout="${longdate} | ${level} | ${message}" />
    <!--send message to email by invoking static method and passing arguments -->
    <target name="mail" xsi:type="MethodCall" className="IBTrader.Form1, IBTrader" methodName="Sendmail">
      <parameter layout="Warning: ${longdate}" />
      <parameter layout="${callsite} - ${message}" />
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="mail" />
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Error" writeTo="fileError" />
    <logger name="*" minlevel="Trace" maxlevel= "Trace" writeTo="fileTrace" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="fileInfo" />
    <!--<logger name="*" minlevel="Info" maxlevel="Info" writeTo="fileTrade" />-->
  </rules>
</nlog>